.match-card {
    margin: 16px;
}

.match-season {
    margin-top: 50px;
}

.match-panel {
    margin: 25px;
}

.match-table {
    margin-top: 24px;
}

.player-score {
    padding-bottom: 20px;
}

.team-stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}